<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="defaultSQLServer" connectionString="Data Source=[PALVELIN];Initial Catalog=[TIETOKANTA];Integrated Security=False;user id=[TIETOKANTAKÄYTTÄJÄ];pwd=[SALASANA];MultipleActiveResultSets=True;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Sharepoint-tunnukset -->
    <add key="ServiceTunnus" value="" />
    <add key="ServiceTunnusSalasana" value="" />
    <add key="ServiceTunnusDomain" value="" />
    <!-- Sopimusarkisto -->
    <add key="SopimusarkistoListaId" value="{57CCF427-16A5-46A1-9F0F-F370FBF51E78}" />
    <add key="SopimusarkistoNakymaId" value="{C9FCD043-2F18-4782-9A09-25F1E7BA9EDE}" />
    <add key="SopimusarkistoIntegraatioPaalla" value="false" />
    <add key="SopimusarkistoUrl" value="" />
    <add key="SopimusarkistoHeratysUrl" value="" />
    <!-- Sopimusarkisto (levy) -->
    <add key="SopimusarkistoPolku" value="C:\Temp\sopimusarkisto" />
    <add key="SopimusarkistoPolkuUudet" value="C:\Temp\sopimusarkisto\uudet" />  
    <!-- Raportointi -->
    <add key="TiedostoraporttiPolku" value="C:\Temp\sopimusarkisto\raportti.csv" />
    <!-- Haku -->
    <add key="MaxSiirtoMaara" value="2"/>
    <!-- Testaus -->
    <add key="TestiMoodi" value="true" />
    <!-- Lokitus -->
    <add key="LokiPolku" value="c:\temp\sharepoint" />    
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SopimusArkistoSP" maxReceivedMessageSize="200000">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://intranet/OPO/_vti_bin/Lists.asmx" binding="basicHttpBinding" bindingConfiguration="SopimusArkistoSP" contract="SopimusarkistoLists.ListsSoap" name="ListsSoap" />
      <endpoint address="http://intranet/OPO/_vti_bin/Views.asmx" binding="basicHttpBinding" bindingConfiguration="SopimusArkistoSP" contract="SopimusarkistoViews.ViewsSoap" name="ViewsSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>