<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="defaultSQLServer" connectionString="Data Source=[PALVELIN];Initial Catalog=[TIETOKANTA];Integrated Security=False;user id=[TIETOKANTAKÄYTTÄJÄ];pwd=[SALASANA];MultipleActiveResultSets=True;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="PaymentdataServiceUrl" value=""/>
    <add key="PaymentdataServiceUsername" value=""/>
    <add key="PaymentdataServicePassword" value=""/>
    <add key="FileMode" value="true"/>
    <add key="FiledataPath" value="C:\VS\Workspaces\Fortum_Sopimusrekisteri\Main\Source\slnIFSIntegraatio\appIFSIntegraatio\Test\paymentdata.xml"/>
    <add key="Filedata" value="paymentdata.xml"/>
    <add key="FiledataArchivePath" value="C:\Temp\Asiakkaat\Caruna\"/>
    <add key="TestdataPath" value="C:\Projektit\Fortum_Online\Sopimusrekisteri\Main\Source\slnIFSIntegraatio\appIFSIntegraatio\Test\paymentdata.xml"/>
    <add key="TestMode" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\temp\ifs\IFSIntegration.log" traceOutputOptions="DateTime"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>  
</configuration>
