<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- Kirjanpidon tiedot -->
    <add key="KirjanpitoOhjelmistotunniste" value="SOPREK" />
    <add key="KirjanpitoKategoria" value="4240" />
    <add key="KirjanpitoClearingTili" value="93307" />
    <add key="KirjanpitoClearingKustannuspaikkaPrefix" value="ZG" />
    <!-- Maksuaineistot (hakemistot päättyvät kenoviivaan -->
    <add key="Maksuhakemisto" value="Dokumentit\Maksuaineisto\" />
    <add key="NaytaMaksuaineistoKayttajalle" value="false" />
    <add key="NaytaKirjanpidonAineistoKayttajalle" value="false" />
    <add key="KopioiMaksuaineistoPalvelimelle" value="true" />
    <add key="MaksuaineistoVaatiiServiceTunnukset" value="false" />
    <add key="MaksuaineistonPolku" value="c:\temp\" />
    <add key="KopioiKirjanpidonAineistoPalvelimelle" value="true" />
    <add key="KirjanpidonAineistoVaatiiServiceTunnukset" value="false" />
    <add key="KirjanpidonAineistonPolku" value="c:\temp\" />
    <add key="LahetaSahkopostiMaksuaineistoista" value="false" />
    <add key="LahetaSahkopostiKirjanpitoaineistosta" value="false" />
    <add key="MaksuaineistoOletusOsoite" value="Ei osoitetietoja" />
    <add key="MaksuaineistoOletusPostinro" value="00100" />
    <add key="MaksuaineistoOletusPostitmp" value="HELSINKI" />
    <add key="MaksuaineistoVuokraCategory" value="X100" />
    <!-- Haku -->
    <add key="HakutulostenMaksimimaara" value="100" />
    <add key="HakutulostenListanPituus" value="12" />
    <!-- Sopimusdokumentit (hakemistot päättyvät kenoviivaan -->
    <add key="JASTemplate" value="Johtoaluesopimus.html" />
    <add key="Suostumustemplate" value="Suostumuslomake_20140127.docx" />
    <add key="Templatehakemisto" value="Dokumentit\" />
    <add key="Sopimushakemisto" value="Dokumentit\Sopimukset\" />
    <!-- Kayttajien hallinta -->
    <add key="LahetaSahkopostiUudelleKayttajalle" value="false" />
    <!-- Sahkopostit -->
    <add key="SahkopostinLahettaja" value="[SÄHKÖPOSTIN LÄHETTÄJÄN SÄHKÖPOSTIOSOITE]" />
    <add key="SmtpPalvelin" value="[SMTP-PALVELIN]" />
    <add key="MaksuaineistoOsoite" value="[SÄHKÖPOSTIOSOITE]" />
    <add key="KirjanpitoaineistoOsoite" value="[SÄHKÖPOSTIOSOITE]" />
    <!-- Sharepoint-tunnukset -->
    <add key="ServiceTunnus" value="" />
    <add key="ServiceTunnusSalasana" value="" />
    <add key="ServiceTunnusDomain" value="" />
    <!-- Sopimusarkisto -->
    <add key="SopimusarkistoListaId" value="{57CCF427-16A5-46A1-9F0F-F370FBF51E78}" />
    <add key="SopimusarkistoNakymaId" value="{C9FCD043-2F18-4782-9A09-25F1E7BA9EDE}" />
    <add key="SopimusarkistoIntegraatioPaalla" value="false" />
    <add key="SopimusarkistoUrl" value="c:\temp\sopimusarkisto" />
    <add key="SopimusarkistoHeratysUrl" value="https://yksluukku.sharepoint.com/" />
    <!-- Pdf-konvertteri-->
    <add key="PdfLisenssi" value="[EVOPDF-LISENSSI]" />
    <!-- Ympäristö -->
    <add key="TestiYmparisto" value="true" />
    <add key="Ymparisto" value="Test/QA" />
    <add key="YmparistoKanta" value="KiltaTest" />
    <!-- M-files -->
    <add key="MFilesHttpLink" value="https://ecm.caruna.fi/OpenMFilesUrl.html?MFilesURL={0}" />
    <add key="NaytaVanhaSharepointLinkki" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="FortumEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=[PALVELIN];Initial Catalog=[TIETOKANTA];integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=[PALVELIN];Initial Catalog=[TIETOKANTA];Trusted_Connection=SSPI;" />
    <add name="ExcelConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=_POLKU_;Extended Properties=Excel 12.0" />
  </connectionStrings>
  <!--<system.webServer>
    <defaultDocument>
      <files>
        <add value="Etusivu.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="536870912" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.5" maxRequestLength="524288" />
    <pages>
      <namespaces />
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Kayttaja/Kirjautuminen.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <profile defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
      <properties>
        <add name="Etunimi" />
        <add name="Sukunimi" />
        <add name="Email" />
      </properties>
    </profile>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" connectionStringName="DefaultConnection" applicationName="/" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0,  Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a " />
      </providers>
    </roleManager>
    <sessionState mode="InProc" timeout="30" customProvider="DefaultSessionProvider">
      <providers>
        <clear />
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.4" newVersion="2.1.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Maksuaineisto">
    <system.web>
      <authorization>
        <allow roles="Maksut" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Ohjaustiedot">
    <system.web>
      <authorization>
        <allow roles="Ohjaustiedot" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Yllapito">
    <system.web>
      <authorization>
        <allow roles="KayttajienHallinta" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Viivakoodi">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>